body{
    text-align: center;
    background-color: #f4f9fd;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}
/* .h11{
margin-right: 25vw;
margin-left: 5vw;
} */
#lol{
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    background-color: #62f371;
    text-align: center;
}
#ww{
    text-align: center;
}
.span9{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:.1em;
    text-align: center;
}

.det{
    
    width: 80vw;
    border-top: 2px blue;
}
.div5{
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    width: 80vw;
    margin: auto;
    margin-bottom: 20px;
}
#tfe{
    height: 30px;
    /* margin-top: 20px; */
    border: 0px;
    font-size: large;
    width: 100px;
    background-color: #0d7717 ;
    /* margin: auto; */
    border-radius: 20px;
    color: black;
    color: white;
    border: 2px solid rgb(14, 15, 14);

}
#tfp{
    height: 30px;
    /* margin-top: 20px; */
    border: 0px;
    font-size: large;
    position: fixed;
    right: 5px;
    
    width: 100px;
    background-color: #0d7717 ;
    /* margin: auto; */
    border-radius: 20px;
    color: white;
    border: 2px solid rgb(14, 15, 14);

}
#tpp{
    height: 30px;
    /* margin-top: 20px; */
    border: 0px;
    font-size: large;
    display: none;
    
    width: 100px;
    background-color: #0d7717 ;
    /* margin: auto; */
    border-radius: 20px;
    color: white;
    border: 2px solid rgb(14, 15, 14);

}
.but00{
    height: 30px;
    margin-top: 10vh;
    border: 0px;
    font-size: large;
    width: 100px;
    background-color: #8de696 ;
    /* margin: auto; */
    border-radius: 20px;
    color: black;

}
button{
    height: 30px;
    margin-top: 4vh;
    border: 2px solid gray;
    font-size: large;
    margin-bottom: 10px;
    width: 100px;
    background-color: #2fe742 ;
    margin: auto;
    border-radius: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#woti{
    display: block;
}
button:hover{
    background-color: white;
}
p{
    font-size: 30px;
}
.hell{
    font-size: 20px;
    font: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: infinite 1s bounce ease-in-out;
}
@keyframes bounce {
    0%{
        transform: translatey(-2px);
    }
    100%{
        transform: translatey(3px);
    }
}
#weew{
    display: none;
}
.div5{
    display: none;
}
@media (max-width: 650px){
    .h11{
        margin-right: 3vw;
        margin-left: 2vw;
    }
    #qwe{
        width: 50%;
    }
    #popo{
        font-size: 20px;
    }
    #lol{
        padding-right: 3vw;
    }
    .tfe{
        text-align: center!important;
        /* margin-left: ; */
        width: 75px;
        margin-right: 5px;
    }
    button{
        margin-bottom: 5px;
        font-size: 17px;
    }
    P{
        font-size: 20px;
    }
}
@media (max-width: 400px){
    .h11{
        margin-right: 3vw;
        margin-left: 2vw;
    }
    .derrr{
        position: fixed;
        left: -19px;
    }
    #qwe{
        /* width: 70%; */
        text-align: center;
    }
    #lol{
        padding-right: 3vw;
    }
    #popo{
        /* margin-left: 0px; */
        font-size: 15px;
    }
    .tfe{
        text-align: center!important;
        /* margin-left: ; */
        width: 75px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    button{
        margin-bottom: 5px;
        font-size: 17px;
    }
    P{
        font-size: 20px;
    }
}