body{
    background-color: #f4f9fd;
    padding-top: 10vh;
}
input{
    /* margin-top: 20vh; */
    background-color: white;
    padding: 10px;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
    height: 30px;
    box-shadow: 5px 5px 3px 5px #89ce90;
    border: 2px solid #89ce90;
    border-radius: 20px;
    width: 100%;
    animation: infinite 3s bounce ease-in-out;
}
input:hover{
    background-color: white;
}
@keyframes bounce {
    0%{
        transform: translatey(-1px);
    }
    90%{
        transform: translatey(0px);
    }
    100%{
        transform: translatey(0px);
    }
    
}
a{
    color: black;
    text-decoration: none;
    margin-top: 20px;
}
#mom{
    display: none;
}
.inp1{
    font-size: 30px;
    margin-top: 17vh;
    /* padding-left: 10px; */
    /* text-transform: uppercase; */
}
.h10{
    animation: infinite 2s hop ease-in-out;
    color: #8ff098;
}
@keyframes hop {
    40%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}
.h20{
    animation: infinite 2s hopp ;
    color: #306435;
}
@keyframes hopp {
    40%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(3px);
    }
}
.h30{
    animation: infinite 2s hoop ;
    color: #096812;
}
@keyframes hoop {
    40%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}
.div2{
    width: 70vw;
    margin:auto ;
    text-align: center;
    /* font-size: 40px; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div1{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin:auto ;
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#but11{
    margin-top: 20px;
    background-color: white;
    height: 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 3px 5px #89ce90;
    animation: infinite 3s bounc ease-in-out;
}
@keyframes bounc {
    40%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(3px);
    }
}
@media (max-width: 690px){
    .div1{
        margin-top: 10vh;
        font-size: 30px;
    }
}
@media (max-width: 520px){
    .div1{
        margin-top: 10vh;
        font-size: 25px;
    }
}
@media (max-width: 450px){
    .div1{
        margin-top: 20vh;
        font-size: 20px;
        /* width: 90vw; */
    }
}
@media (max-width: 350px){
    .div1{
        margin-top: 10vh;
        font-size: 18px;

    }
    .span9{
        font-size: 15px;
    }
}

#qwe{
    /* border: 1px solid green; */
    height: 40px;
    /* background-color: #306435; */

    margin: auto;
    text-align:left;
position: fixed;
top: 10vh;
/* animation: infinite slide 25s ease-in; */

}
@keyframes slide {
    0%{
        transform: translateX(400%);
    }
    /* 50%{
        transform: translateX(-120%);
    } */
    100%{
        transform: translateX(-100%);
    }
}
#popo{
    position: fixed;
    top: 6vh;
    font-size: 25px;
color: black;
/* text-decoration:overline; */
}

.derrr{
    height: 8vh;
    position: fixed;
    left: 5px;
}